<header class="home-header">
  <%= image_tag 'logo-unblinked-4x.png', class: 'logo' %>
  <h1>Music for everyone. Let's get the party started.</h1>
</header>

<section>
  <%= form_tag(joins_path, method: :get, id: 'join_party') do %>
    <input type="text" name="query" placeholder="Enter the name of the playlist to join" autofocus>
    <%= button_to "Search" %>
  <% end %>
  <br>
  <ul class="inline-links">
    <li><%= link_to 'Create a playlist', playlists_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Jump to my playlists', playlists_path %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Create an account', new_user_registration_path %></li>
    <% end %>
  </ul>
</section>

<footer>
  Made with <%= icon('heart') %> by citizens of the world
</footer>
