<header>
  <%= image_tag 'logo-unblinked-4x.png' %>
  <h1>Music for everyone. Let's get the party started.</h1>
</header>

<section>
  <%= simple_form_for(@playlist) do |f| %>
    <%= f.input :name, label: false, placeholder: "Choose a playlist name", autofocus: true %>
    <%= f.submit "Let's rock" %>
  <% end %>
</section>

<footer>
  Made with <%= icon('heart') %> by citizens of the world
</footer>
